# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/
*.xcuserdatad/
*.xcuserstate

## Build generated
build/
DerivedData/

## Package files
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/

## CocoaPods
Pods/
Podfile.lock

## Swift Package Manager
.swiftpm/
.build/

## Other
*.DS_Store
